<!-- <button>Register</button>  falta o botao-->

<form #newuserform="ngForm" (ngSubmit)="adduser(newuserform.value)">

    <br>
    <label>Username:</label><br>
    <input type="text" id="new_username" placeholder="Username" ngModel>
    <label>Password:</label><br>
    <input type="password" id="new_password" placeholder="Password" ngModel>
    <label>First Name:</label><br>
    <input type="text" id="new_fname" placeholder="First Name" ngModel>
    <label>Last Name:</label><br>
    <input type="text" id="new_lname" placeholder="Last Name" ngModel>
    <br>
    <input type="submit" value="Submit">
    
</form>