
<form #newuserform="ngForm" (ngSubmit)="adduser(newuserform.value)">

    <br>
    <label>Username:</label> &nbsp;
    <input type="text" id="new_username" placeholder="Username" ngModel name="username">
    <br>
    <label>Password:</label>&nbsp;&nbsp;&nbsp;
    <input type="password" id="new_password" placeholder="Password" ngModel name="password">
    <br>
    <label>Repeat password:</label>&nbsp;&nbsp;&nbsp;
    <input type="password" id="repeat_password" placeholder="Repeat password" ngModel name="repeat_password">
    <br>
    <label>First Name:</label>&nbsp;
    <input type="text" id="new_fname" placeholder="First Name" ngModel name="first_name">
    <br>
    <label>Last Name:</label>&nbsp;
    <input type="text" id="new_lname" placeholder="Last Name" ngModel name="last_name">
    <br>
    <label>Email</label>&nbsp;
    <input type="email" id="email" placeholder="Email" ngModel name="email">
    <br>
    <br>


    <input type="submit" value="Register">
    
</form>