<div class="nav">
    <a (click)="home()" >Home</a>
    <a (click)="posts()" *ngIf="this.userservice.setUser()">Posts</a>
    <a (click)="login()" *ngIf="!this.userservice.setUser()">Login</a>
    <a (click)="logout()" *ngIf="this.userservice.setUser()">Logout</a>
    <a (click)="register()" *ngIf="!this.userservice.setUser()">Register</a>

    <span class="welcome" *ngIf="this.userservice.setUser()">Welcome {{this.userservice.setUser().first_name}} {{this.userservice.setUser().last_name}}</span>


    <a (click)="profile()" *ngIf="this.userservice.setUser()">Profile</a>
</div>