.container{
    margin: auto; 
    width: 80%;
    margin: 30px;
}

.posts{
    border: 1px solid black;
}

.title{
    padding-left: 20px;
    margin: 5px 0 5px 0;
    text-decoration: underline;
}

.post{
    margin: 5px 0 5px 0;
    padding: 10px;
}

.comments{
    width: 40%;
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
}

.leftcomments{
    width: 60%;

}

.date-user{
    padding: 10px;
}