
<div class="container">

    <div *ngFor="let post of faceappservice.postsid">
        <div>

            <div class="posts">
                <div class="title">Titulo: {{post.title}}</div>
        
                <div class="post">{{post.content}}</div>
                
                <div class="date-user">
                    <div> date: {{(post.updated_at === undefined ? post.create_at :post.updated_at) | date:'short'}} </div>
                    <div> author: {{post.user.first_name}} {{post.user.last_name}} </div>
                </div>
                    <button type="button" (click)="this.remove(post.id)" *ngIf="this.userservice.setUser() && post.id_user === this.userservice.setUser().id" >remove</button>
            </div>

                <div *ngFor="let item of post.comments" style="display: flex; margin: 10px;">
                    <div class="leftcomments"></div>
                    <div>
                        <div class="comments">
                            <div> {{item.content}}</div>
                            <div> {{item.user.first_name}} {{item.user.last_name}}</div>
                            <div> {{item.date}}</div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; margin: 10px;">
                    <div style="width: 60%;"></div>
                </div>
        </div>
    </div>
</div>