<div style="display: flex;">
    <!-- envia como parametro os valores dos campos introduzidos para a funçao login_form -->
    <form #loginForm="ngForm" (ngSubmit)="login_form(loginForm.value)">
        <br>
        <label>Username:</label><br>
        <input id="username" type="text" placeholder="Username" name="username" ngModel>
        <br>
        <label>password:</label><br>
        <input id="password" type="password" placeholder="Password" name="password" ngModel>
        <br>
        <input type="submit" value="Submit">
        
    </form>
</div>
